<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> edit Posting </title>
      
      <!-- 수정필요 -->
      <!-- <link href="/static/css/main.6842b365.chunk.css" rel="stylesheet">  -->
      <!-- 부트스트랩 -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

      <style>
        .background {
          background-color: rgb(48, 46, 46);
          width: 100%;
          height: 20rem;

          color: white;
          text-align: center;
          padding-top: 9rem;
        }

        .find_date {
          width: 75%;

          margin: 20px auto 0px auto;
          border-radius: 10px;
          
          border:rgb(48, 46, 46);
          border-width: 2px;
          padding: 15px; 
          width: 80%;
        }

        .posting {
            max-width: 800px;
            margin: 30px auto;
            padding: 20px;
            background-color: white;

            border: solid 1px gray;
            border-radius: 10px;
        }

        .posting_btn {
            margin: 10px -60px 0px auto;
            width: 150px;
            height: auto;
            
            border-radius: 7px;
        }

        .posting_btns {
            margin: 15px 0px 0px auto;
            padding-left: 513px;
        }

        .posting_btns> button {
            margin-right: 20px;
            align-items: center;
            display:inline-block;
        }

      </style>
    </head>

    <body>
      <div class="background">
        <h1>게시글 수정페이지</h1>
      </div>

      <div class ="posting">
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">USER</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="user">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">PASSWORD</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password">
          </div>        
        </div>
        <div style="height: 10px;"></div>
        <hr> 
         <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">TITLE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">COMMENT</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <form class="form-inline" role="form"></form>
            <div class="posting_btns">
                <button type="button" onclick="location.href='/'" class="btn btn-dark btn-lg"> EDIT </button>
                <button type="button" onclick="location.href='/'" class="btn btn-dark btn-lg"> DELETE </button>
            
            </div>
        </form> 
      </div>

      <!-- 참고용 -->

      <!-- <div class="container">
        <div class="d-flex justify-content-between align-items-end">
            <div>
                <h1 id="word" style="display: inline;">owl</h1>
                <h5 id="pronunciation" style="display: inline;">/oul/</h5>
            </div>
            <button id="btn-save" class="btn btn-outline-sparta btn-lg">save</button>
            <button id="btn-delete" class="btn btn-sparta btn-lg">delete</button>
        </div>
        <hr>
        <div id="definitions">
            <div style="padding:10px">
                <i>noun</i>
                <br>a nocturnal bird of prey with large eyes, a facial disc, a hooked beak, and typically a loud
                hooting call.<br>
                <span class="example">I love reaching out into that absolute silence, when you can hear the owl or the wind.</span>
            </div>
        </div>
    </div> -->

      <h1>Node js insert</h1>
      <h1> <%= user %> </h1>
    </body>
</html>



